@model MMPS.UI.Models.ContactViewModel


@{
    ViewBag.Title = "Contact";
}
@using (Html.BeginForm())
{
    <div class="row">
        <div class="contact-form">
            <h2 class="title title-text">Get In Touch</h2>

            @Html.AntiForgeryToken()
            <div class="form-group col-md-6">
                <div class="status alert alert-success" style="display: none"></div>
                @Html.TextBoxFor(x => x.Name, new
           {
               @class = "form-control",
               placeholder = "Name"
           })
                @*@Html.ValidationMessageFor(x => x.Name)*@
            </div>

            <div class="form-group col-md-6">
                @Html.TextBoxFor(x => x.Email, new
           {
               @class = "form-control",
               placeholder = "Email"
           })
                @*@Html.ValidationMessageFor(x => x.Email)*@
            </div>
        </div>
        <div class="form-group col-md-12">
            @Html.TextBoxFor(x => x.Subject, new
       {
           @class = "form-control",
           placeholder = "Subject"
       })
            @*@Html.ValidationMessageFor(x => x.Subject)*@
        </div>
        <div class="form-group col-md-12">
            @Html.TextAreaFor(x => x.Message, new
       {
           @class = "form-control",
           placeholder = "Your Message here",
           rows = "6",
           title = "Please be conscise but include all important details"
       })
            @*@Html.ValidationMessageFor(x => x.Name)*@

        </div>


    <div style=" position:absolute;
width:0; height:0;
overflow:hidden;">

        @Html.TextBoxFor(x => x.PhoneNumber, new { placeholder = "Phone Number" })
    </div>


    <div class="form-group  col-md-12">
        <input type="submit" name="submit" class="btn btn-primary pull-right" value="Submit" />
        @*@Html.ValidationMessageFor(x => x.Name)*@
    </div>
    </div>


}
