@model MMPS.DATA.Advertisement

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Advertisement</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.imageName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.imageName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.description)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.imageSource)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.imageSource)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.typeName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.typeName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.alt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.alt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Graphic.imageName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Graphic.imageName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Type.typeName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Type.typeName)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.imageID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
