@using PagedList
@using PagedList.Mvc



@model IPagedList<MMPS.DATA.Graphic>

@{ 
    

}

    <h1 class="h2">Graphics</h1>

    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
       
        <div id="Graphics">
            <div class="row ">

                @foreach (var item in Model)
                {

                    <div class="col-sm-4">
                        <div class="folio-item">
                            <div class="folio-img-contain"><img src="@Url.Content("~/Content/Images/Graphics/" + item.imageSource)" alt="@item.alt" class="thumbnail folio-img" /></div>


                            <h3 class="h3 title">@Html.DisplayFor(modelItem => item.imageName)</h3>

                            <p class="description">@Html.DisplayFor(modelItem => item.description)</p>


                            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                            {

                                @Html.ActionLink("Edit", "Edit", new { id = item.imageID })
                                @: |
                            }
                            @Html.ActionLink("Details", "Details", new { id = item.imageID })
                            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                            {


                                        @:|
                                        @Html.ActionLink("Delete", "Delete", new { id = item.imageID })
                            }
                        </div>
                    </div>

                }

            </div>
        </div>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "Graphics" }))
        <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
