@model MMPS.DATA.Logo

<div>
    <h4>Graphic</h4>
    <hr />
    <h3 class="h3">@Html.DisplayFor(model => model.imageName)</h3>
  




        <img src="@Url.Content("~/Content/Images/Logos/" + Model.imageSource)" alt="@Model.alt" class="detailIMG" />
 



        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>











    </dl>
</div>
<p>
    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.imageID })
    }
    @Html.ActionLink("Back to List", "Index")
</p>
</body>
</html>
