@using PagedList
@using PagedList.Mvc


@model IPagedList<MMPS.DATA.WebSite>


@{

}






<h1 class="h2">Web Sites</h1>
@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<div id="WebSite">
    <div class="row">


        @foreach (var item in Model)
        {
            <div class="col-sm-4">
                <div class="folio-item">
                    @if (item.siteUrl == null)
                    {
                        <div class="folio-img-contain"><img src="@Url.Content("~/Content/Images/Sites/" + item.imageSource)" alt="@item.alt" class="thumbnail folio-img" /></div>
                    }
                    else
                    {

                        <a href="@Url.Content(item.siteUrl)" target="_blank"><div class="folio-img-contain"><img src="@Url.Content("~/Content/Images/Sites/" + item.imageSource)" alt="@item.alt" class="thumbnail folio-img" /></div></a>
                    }

                    <h3 class="h3 title">@Html.DisplayFor(modelItem => item.SiteName)</h3>

                    <p class="description">@Html.DisplayFor(modelItem => item.description)</p>


                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {

                        @Html.ActionLink("Edit", "Edit", new { id = item.imageID })
                        @: |
                    }
                    @Html.ActionLink("Details", "Details", new { id = item.imageID })
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {


                        @:|
                        @Html.ActionLink("Delete", "Delete", new { id = item.imageID })
                    }
                </div>
            </div>
        }

    </div>
</div>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "WebSites" }))
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

